$header-height: 4.8rem;
$text-sm: 1.5rem;
$text-md: 1.8rem;
$text-lg: 2rem;
$text-xl: 2.4rem;
$text-2xl: 2.8rem;
$text-big: 5rem;
$hero-space: 0.005em;
$line-height: 30px;
$text-light: 300;
$text-medium: 400;
$text-bold: 600;
