@use './abstracts/' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: $secondary-color;
  background-color: #fff;
}

img {
  max-inline-size: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  padding: 0;
}
li {
  list-style-type: none;
}
