@use './abstracts/' as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  margin: $header-height 0 0 0;
  font-family: 'Poppins', sans-serif;
  color: #0e2431;
  background-color: #fff;
}

h1,
h2,
p,
figure {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}
