@use './abstracts/index' as *;

body {
  margin: 0;
}

.section {
  padding: 4rem 0 3rem;
  &-title {
    margin-bottom: var(--mb-6);
    &::after {
      width: 80px;
      top: 3rem;
    }
  }
}

.menu-btn {
  display: none;
}

.nav__list {
  display: flex;
  gap: $mb-6;
  .nav__item {
    margin: 0;
  }
  .nav__link {
    color: $secondary-color;
  }
}

.nav {
  height: calc($header-height + 1rem);
}

.hero {
  padding: 8rem 0 2rem;
  &-description {
    margin-top: $mb-4;
    &__title {
      font-size: $text-big;
    }
    &__subtitle {
      font-size: $text-2xl;

      margin-bottom: $mb-4;
    }
  }
}

.hero__img {
  max-inline-size: 460px;
}

.hero-social-icon {
  font-size: $header-height;
}

.project-container {
  margin-block: 8rem;
}

.primary-button--hero {
  font-size: $text-2xl;
}
