@use './abstracts/index' as *;

.header {
  height: $text-2xl;
  &__logo {
    font-size: $text-xl;
  }
}

.hero {
  height: 100vh;
  &-description {
    margin-top: $mb-4;
    &__subtitle {
      margin-bottom: $mb-4;
    }
  }
}

.hero__img {
  max-inline-size: 460px;
}

.hero-social-icon {
  font-size: $header-height;
}

.project-container {
  margin-block: 8rem;
}

.primary-button--hero {
  font-size: $text-xl;
}
