@use '../abstracts/' as *;
.primary-button {
  padding: 1.2rem 4rem;
  font-weight: $text-bold;
  background-color: $primary-color;
  border-radius: $bd-radius;
  font-size: $sm-font;
  &:hover {
    box-shadow: $button-shadow;
  }
  &--hero {
    display: inline-block;
    font-size: $md-font;
  }
  &--flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $mb-1;
  }
}
