@use '../abstracts/index' as *;

.footer {
  text-align: center;
  font-weight: $text-bold;
  padding: 2rem 0 3rem 0;
  background-color: $secondary-color;
  color: #fff;
  &__social {
    margin-top: $mb-4;
    margin-bottom: $mb-4;
    &-icon {
      margin: 0 $mb-2;
      font-size: $text-xl;
      color: #ffff;
    }
  }
  &-description {
    font-size: $text-sm;
  }
}
