@use '../abstracts/' as *;

.hero {
  height: calc(100vh - $header-height);
  row-gap: 1.6rem;
  &-description {
    margin-top: $mb-3;
    align-self: center;
    &__title {
      margin-bottom: $mb-2;
      font-size: $xl-font;
      letter-spacing: $hero-space;
    }
    &__subtitle {
      font-size: $md-font;
      margin-bottom: $mb-2;
    }
  }
  &__img {
    max-inline-size: 80%;
    position: absolute;
    right: 0;
    bottom: 0;
  }
  &-social {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 4em;
  }
}

.text-primary {
  color: $primary-color;
  &--bold {
    font-weight: $text-bold;
  }
}
