@use '../abstracts/' as *;

.hero {
  height: calc(100vh - $header-height);
  row-gap: 1.6rem;
}
.hero-description {
  margin-top: $mb-3;
  align-self: center;
}
.hero-description__title {
  margin-bottom: $mb-2;
  font-size: $xl-font;
  letter-spacing: $hero-space;
}
.hero-description__subtitle {
  font-size: $md-font;
}
.hero-social {
  align-self: center;
  display: flex;
  flex-direction: column;
  gap: 4em;
}
.hero__img {
  max-inline-size: 80%;
  position: absolute;
  right: 0;
  bottom: 0;
}
