@use '../abstracts/index' as *;

.project-image {
  height: 25rem;
  /* padding: 0 0.75rem; */
  margin: $mb-2 0;
  border: 3px solid $secondary-color;
  border-radius: $bd-radius;
  background-color: $secondary-color;
  overflow-y: auto;
}

.project-description {
  display: flex;
  flex-direction: column;
  gap: $mb-2;
  text-align: left;
}
.project-title {
  padding: 4px 8px;
  /* Para que el elemento no se expanda como consecuencia del display flex */
  font: bold 1.8rem / 30px 'Poppins', sans-serif;
  align-self: flex-start;
  color: #fff;
  background-color: $secondary-color;
  box-shadow: -4px 4px 0 $primary-color;
  text-decoration: none;
}

.project-description .project-links {
  display: flex;
  gap: 16px;
  flex-direction: column;
  margin-block-end: 60px;
}
.project-content {
  font-size: $sm-font;
}
.project-description .project-links a.button {
  text-align: center;
  block-size: 50px;
}
