@use '../abstracts/index' as *;

.section {
  padding-top: 4.8rem;
  &-title {
    position: relative;
    font-size: $text-xl;
    color: $primary-color;
    margin-top: $mb-4;
    margin-bottom: $mb-4;
    text-align: center;
    &::after {
      position: absolute;
      content: '';
      width: 100px;
      height: 0.35rem;
      left: 0;
      right: 0;
      margin: auto;
      top: 4.25rem;
      background-color: $primary-color;
    }
  }
}
