/* css reset user agent's default styles */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: var(--secondary-color);
  background-color: #fff;
}

img {
  max-inline-size: 100%;
  height: auto;
}

a {
  text-decoration: none;
  color: #fff;
}

ul {
  padding: 0;
}
li {
  list-style-type: none;
}

/* wrapper container */
.wrapper {
  padding: 0 1.6rem;
}

/* css variables */
:root {
  --primary-color: #0571f8;
  --secondary-color: #0e2431;
  --logo-font: 2.25rem;
  --xl-font: 3rem;
  --hero-space: 0.005em;
  --md-font: 1.8rem;
  --text-bold: 600;
  --text-medium: 400;
  --text-light: 300;
  /* others */
  --bd-radius: 0.8rem;
  --bx-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

/* primary button */
.primary-button {
  display: inline-block;
  align-self: flex-start;
  padding: 1.2rem 4rem;
  font-size: var(--md-font);
  font-weight: var(--text-bold);
  background-color: var(--primary-color);
  border-radius: var(--bd-radius);
}
.primary-button:hover {
  box-shadow: var(--bx-shadow);
}

/* header section */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  font-size: var(--logo-font);
}
.light-font {
  font-weight: var(--text-light);
}
.primary-color {
  color: var(--primary-color);
}

.hero {
  position: relative;
  height: calc(100vh - 90px);
}
.hero-description__title {
  font-size: var(--xl-font);
  letter-spacing: var(--hero-space);
}
.hero-description__subtitle {
  font-size: var(--md-font);
}
.hero-social {
  /* position: relative; */
  margin: 6rem 0 0;
  display: flex;
  flex-direction: column;
  gap: 3em;
}
.hero__img {
  max-inline-size: 70%;
  position: absolute;
  bottom: 80px;
  right: 0;
}
.primary-button--position {
  position: absolute;
  bottom: 1em;
}
